{% extends 'admin/index.html.twig' %}

{% block title %}Creation d'un produit{% endblock %}

{% block body %}

    <h3 class="text-center fs-2 col-5">
        {{ app.request.attributes.get('_route') == 'app_admin_fds_add' ?
        'Ajouter une FDS' : 'Modifier la FDS n°' ~ fds.id
        }}
    </h3>
    <section class="container d-flex align-items-center justify-content-center flex-wrap"
             style="min-height: 70vh;"
             id="section-register">
        {#         Formulaire #}
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex align-items-center justify-content-center">

            {{ form_start(form, {'attr' : {
                'class' : 'col-8',
                'id' : 'form-edit-create-product'
            }}) }}

            <div class="mb-4 col-12">
                <div class="col-12 form-error">
                    {{ form_errors(form.title) }}
                </div>
                {{ form_widget(form.title, {
                    'attr': {
                        'class':            'rounded-pill py-3 col-9 text-center border-blue-custom',
                        'id':               'input-title',
                        'aria-describedby': 'Nom du fichier',
                        'placeholder':      'Nom du fichier',
                        'row':               '1'
                    }
                }) }}
            </div>

            <div class="mb-4 col-12">
                <div class="col-12 form-error">
                    {{ form_errors(form.fileFds) }}
                </div>
                {{ form_widget(form.fileFds, {
                    'attr': {
                        'class'            :'rounded-pill col-4 col-sm-6 col-lg-4 text-center border-blue-custom custom-file-input',
                        'aria-describedby' :'Fichier',
                        'placeholder'      :'Fichier',
                        'onchange'         :'getNameFile()'
                    }
                }) }}
                <span id="input-file-name">{{ fds is defined ? fds.title : '' }}</span>
                <span id="input-file-close" class="{{ fds is not defined ? 'd-none' : '' }}" onclick="closeFile()">
                    <i class="bi bi-x-circle-fill color-blue-custom"></i>
                </span>
            </div>

            <div class="mb-4 col-12">
                <div class="col-12 form-error">
                    {{ form_errors(form.product) }}
                </div>
                {{ form_widget(form.product, {
                    'attr': {
                        'class':            'rounded-pill bg-light py-2 col-6 text-center border-blue-custom text-secondary',
                        'id':               'input-description',
                        'aria-describedby': 'Description',
                        'placeholder':      'Description'
                    }
                }) }}
            </div>

            <div class="btn-sumbit-form d-flex justify-content-center">
                <button type="submit" class="py-2 border-blue-custom bg-blue-custom rounded-pill text-center text-white col-7">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Désactiver l'option "Sélectionner un produit"
            let select = document.getElementById('fds_product');
            let placeholderOption = select.querySelector('option[value=""]');
            placeholderOption.disabled = true;
        });
    </script>
{% endblock %}