{% extends 'admin/index.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <style>
        .custom-file-input{
            border: 2px #5FA8BF solid;
            width: 60%
        }
        .content-form{
            margin-top:4em;
        }
        .form-register{
            margin-top: 2em;
        }
        .button-register{
            width: 30%; 
            background-color: #5FA8BF; 
            border: 2px #5FA8BF;
        }
    </style>
    
<h3 class="text-center fs-2 col-5">Insciption d'utilisateur</h3>
<section class="content-form d-flex flex-column justify-content-center align-items-center text-center">


    {{ form_start(registrationForm, {'attr': {'class': 'form-register w-50'}}) }}
    <div class="mb-4 col-12 d-flex flex-row">
        <div class="col-9">
            <div class="col-12 form-error">
                {{ form_errors(registrationForm.firstname) }}
            </div>
            {{ form_widget(registrationForm.firstname, {
                'attr': {
                    'class': 'rounded-pill col-9 text-center border-blue-custom custom-file-input',
                    'placeholder':'Prénom'
                }}) }}
        </div>

    </div>
    <div class="mb-4 col-12  d-flex flex-row-reverse">
        <div class="col-9">
            <div class="col-12 form-error">
                {{ form_errors(registrationForm.lastname) }}
            </div>
            {{ form_widget(registrationForm.lastname, {
                'attr': {
                    'class': 'rounded-pill col-9 text-center border-blue-custom custom-file-input',
                    'placeholder':'Nom de famille'
                }}) }}
        </div>
    </div>
    <div class="mb-4 col-12  d-flex flex-row">
        <div class="col-9">
            <div class="col-12 form-error">
                {{ form_errors(registrationForm.email) }}
            </div>
            {{ form_widget(registrationForm.email, {
                'attr': {
                    'class': 'rounded-pill col-9 text-center border-blue-custom custom-file-input',
                    'placeholder':'Email'
                }}) }}
        </div>
    </div>
    <div class="mb-4 col-12  d-flex flex-row-reverse">
        <div class="col-9">
            <div class="col-12 form-error">
                {{ form_errors(registrationForm.plainPassword.first) }}
            </div>
            {{ form_widget(registrationForm.plainPassword.first, {
                'attr': {
                    'class':            'border-blue-custom custom-file-input rounded-pill col-9 text-center',
                    'id':               'register-password-first',
                    'aria-describedby': 'Mot de passe',
                    'placeholder':      'Mot de passe'
                }
            }) }}
        </div>
    </div>
    <div class="mb-4 col-12 d-flex flex-row">
        <div class="col-9">
            <div class="col-12 form-error">
                {{ form_errors(registrationForm.plainPassword.second) }}
            </div>
            {{ form_widget(registrationForm.plainPassword.second, {
                'attr': {
                    'class':            'border-blue-custom rounded-pill col-9 text-center',
                    'id':               'register-password-first',
                    'aria-describedby': 'Confirmation votre mot de passe',
                    'placeholder':      'Confirmation votre mot de passe'
                }
            }) }}
        </div>
    </div>
    <div class="">
        <button type="submit" class="py-3 text-center rounded-pill button-register text-white">Inscrire</button>
    </div>
    {{ form_end(registrationForm) }}
    {% endblock %}
